<div class="row">
    <h2 class="text-center">Login</h2>
    <div class="large-6 large-offset-3 columns">
        <%= form_for(:session, url: sessions_path) do |f| %>
            <%= f.label :email  %>
            <%= f.email_field :email  %>
            <%= f.label :password %>
            <%= f.password_field :password  %>
            <%= f.submit "Login", class: "button"  %>
        <% end %>
    </div>
</div>
