<div class="row">
    <h1 class="text-center">Rider Dashboard</h1>
    <div class="row">
        <div class="large-3 large-offset-5 columns">
            <%= link_to "Start A Trip", new_trip_path, class: button_class(@rider) %>
        </div>
    </div>
    <% if @active_ride %>
        <div class="row">
            <div class="large-6 large-offset-3 columns">
                <div class="panel" style="background-color: white">
                    <h3 class="text-center">Current Trip</h3>
                    <p class="text-center">Pickup Location: <%= @active_ride.pickup_location %></p>
                    <p class="text-center">Dropoff Location: <%= @active_ride.dropoff_location %></p>
                    <p class="text-center">Number Of Passengers: <%= @active_ride.passengers %></p>
                    <div class="panel">
                        <p class="text-center">Status: <%= @active_ride.status.titleize %></p>
                        <% if @active_ride.driver %>
                            <p class="text-center">Driver: <%= @active_ride.driver.name  %></p>
                            <p class="text-center">Vehicle: <%= @active_ride.driver.car.type %></p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <%= render partial: 'shared/completed_trip', collection: @rider.completed_rider_trips %>
</div>
